

.category {
position:relative;
display: inline-block;
float:left;
padding:10px;
text-align:center;
max-width:1100px;
    margin-left: 35px;
    margin-top: -25px;
}

.category img {
width: 300px;
    height: auto;

    border: 1px solid red;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.p {
  text-align: center;
  padding-top: 40px;
  font-size: 13px;
}
.crab{
    
/*    background: #fff;*/
/*    overflow:hidden;*/
    color: red;
    background: rgba(255, 203, 8, .87)!important;
    opacity: 0.7;
}

#picture {width:100px; height: 250px; background-color:#ffffff;}
#picture a.small, #picture a.small:visited { display:block; width:100px; height:100px; text-decoration:none; background:#ffffff; top:0; left:0; border:0;}
#picture a img {border:0;}
#picture a.small:hover {text-decoration:none; background-color:#000000; color:#000000;}
#picture a .large {display:block; position:absolute; width:0; height:0; border:0; top:0; left:0;}
#picture a.small:hover .large {display:block; position:absolute; top: 90px; left:150px; width:200px; height:200px; } 


.pricetable table, td, th {    
    border: 1px solid #000;
    text-align: left;
}

.pricetable table {
    border-collapse: collapse;
    width: 100%;
}

.pricetable th, td {
    padding: 10px;
}





